## Heatmaps

In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
!jupyter nbextension enable --py --sys-prefix widgetsnbextension

Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: ok

In [3]:
!jupyter nbextension enable --py --sys-prefix gmaps

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok

In [5]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("./weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Carnarvon,AU,2022-02-01 22:55:42,-24.8667,113.6333,71.67,88,100,4.61
1,1,Punta Arenas,CL,2022-02-01 22:55:42,-53.1500,-70.9167,50.11,53,20,33.38
2,2,Geraldton,AU,2022-02-01 22:55:43,-28.7667,114.6000,84.61,26,53,27.63
3,3,Mahebourg,MU,2022-02-01 22:55:08,-20.4081,57.7000,80.26,100,75,18.41
4,4,Hasaki,JP,2022-02-01 22:55:43,35.7333,140.8333,36.00,50,0,18.90

In [6]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [ ]:
# Get the maximum temperature and changes negatives to zero.
#max_temp = city_data_df["Max Temp"]
#temps = []
#for temp in max_temp:
#    temps.append(max(temp, 0))

In [10]:

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable and convert negative temps to zero.
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=[max(temp, 0) for temp in max_temp],
                                dissipating=False,
                                max_intensity=300,
                                point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=humidity, 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=clouds, 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=wind, 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## Filter cities by Preferred Temp Input

In [14]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [15]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Geraldton,AU,2022-02-01 22:55:43,-28.7667,114.6000,84.61,26,53,27.63
3,3,Mahebourg,MU,2022-02-01 22:55:08,-20.4081,57.7000,80.26,100,75,18.41
5,5,Rikitea,PF,2022-02-01 22:54:59,-23.1203,-134.9692,78.44,69,87,5.66
7,7,Bluff,NZ,2022-02-01 22:55:44,-46.6000,168.3333,76.80,63,97,12.95
17,17,Inhambane,MZ,2022-02-01 22:55:48,-23.8650,35.3833,75.70,81,3,5.14
25,25,Port Elizabeth,ZA,2022-02-01 22:55:28,-33.9180,25.5701,77.29,83,0,4.61
30,30,Mar Del Plata,AR,2022-02-01 22:52:56,-38.0023,-57.5575,78.82,70,0,8.01
31,31,Avarua,CK,2022-02-01 22:55:53,-21.2078,-159.7750,82.45,83,75,13.80
35,35,Kapaa,US,2022-02-01 22:52:26,22.0752,-159.3190,79.12,65,0,1.01
36,36,Kloulklubed,PW,2022-02-01 22:55:56,7.0419,134.2556,81.37,75,100,19.28

In [16]:
preferred_cities_df.count()

City_ID       139
City          139
Country       139
Date          139
Lat           139
Lng           139
Max Temp      139
Humidity      139
Cloudiness    139
Wind Speed    139
dtype: int64

In [17]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
2        Geraldton      AU     84.61 -28.7667  114.6000
3        Mahebourg      MU     80.26 -20.4081   57.7000
5          Rikitea      PF     78.44 -23.1203 -134.9692
7            Bluff      NZ     76.80 -46.6000  168.3333
17       Inhambane      MZ     75.70 -23.8650   35.3833
25  Port Elizabeth      ZA     77.29 -33.9180   25.5701
30   Mar Del Plata      AR     78.82 -38.0023  -57.5575
31          Avarua      CK     82.45 -21.2078 -159.7750
35           Kapaa      US     79.12  22.0752 -159.3190
36     Kloulklubed      PW     81.37   7.0419  134.2556

In [18]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to "location" key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the base url and search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [19]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Geraldton,AU,84.61,-28.7667,114.6000,Broadwater Mariner Resort
3,Mahebourg,MU,80.26,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
5,Rikitea,PF,78.44,-23.1203,-134.9692,People ThankYou
7,Bluff,NZ,76.80,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
17,Inhambane,MZ,75.70,-23.8650,35.3833,Oceano
25,Port Elizabeth,ZA,77.29,-33.9180,25.5701,39 On Nile Guest House
30,Mar Del Plata,AR,78.82,-38.0023,-57.5575,Gran Hotel Mar del Plata
31,Avarua,CK,82.45,-21.2078,-159.7750,Paradise Inn
35,Kapaa,US,79.12,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
36,Kloulklubed,PW,81.37,7.0419,134.2556,Storyboard Beach Resort

In [20]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [21]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=max_temp,
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))